body {
    font-family: sans-serif;
  }
  
  .container {
    width: 500px;
    margin: 0 auto;
  }
  
  h1 {
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
  }
  
  button {
    width: 100px;
    margin-top: 10px;
  }
  